openapi: 3.0.0
info:
  title: HFUT Graduation Project API
  description: 合肥工业大学毕业设计项目 API 接口文档（已实现接口）
  version: 1.0.0

servers:
  - url: https://api.xiaoen.xyz
    description: 生产环境（路径在此基础后拼接，如 /api/v1/user/login）

tags:
  - name: 健康检查
    description: 服务健康检查
  - name: 用户
    description: 用户相关接口
  - name: OSS
    description: 对象存储，文件访问与上传，持久化到宿主机 /var/oss

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT 认证，请求头格式：Authorization: Bearer {token}

  schemas:
    Response:
      type: object
      properties:
        code:
          type: integer
          description: 状态码，200 表示成功
          example: 200
        message:
          type: string
          description: 响应消息
          example: 操作成功
        data:
          type: object
          description: 响应数据（可选）

    UserRegisterRequest:
      type: object
      required:
        - username
        - password
        - re_password
      properties:
        username:
          type: string
          description: 用户名
          example: "testuser"
        password:
          type: string
          description: 密码
          example: "password123"
        re_password:
          type: string
          description: 确认密码（需与 password 一致）
          example: "password123"

    UserLoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: 用户名
          example: "testuser"
        password:
          type: string
          description: 密码
          example: "password123"

    LoginData:
      type: string
      description: JWT Token 字符串

    UserUpdateRequest:
      type: object
      description: 用户信息更新，可只传需要更新的字段
      properties:
        id:
          type: integer
          format: int64
          description: 用户ID（通常由 token 解析，可选）
        avatar:
          type: string
          description: 用户头像 URL
        background:
          type: string
          description: 用户背景图 URL
        bind_qq:
          type: string
          description: 绑定的 QQ 号
        bind_wx:
          type: string
          description: 绑定的微信号
        bind_phone:
          type: string
          description: 绑定的手机号
        school_id:
          type: integer
          format: int64
          description: 学校 ID

    UserBindSchoolRequest:
      type: object
      required:
        - school_id
      properties:
        school_id:
          type: integer
          format: int64
          description: 学校 ID
          example: 1

    UserResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        school_id:
          type: integer
          format: int64
        bind_qq:
          type: string
        bind_wx:
          type: string
        bind_phone:
          type: string
        status:
          type: integer
          description: 1:正常 2:禁用
        role:
          type: integer
          description: 1:普通用户 2:管理员 3:超级管理员 4:匿名用户
        avatar:
          type: string
        background:
          type: string
        follow_count:
          type: integer
        fans_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

paths:
  /health:
    get:
      tags:
        - 健康检查
      summary: 健康检查
      description: 检查服务是否正常运行
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: 服务正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  /api/v1/user/register:
    post:
      tags:
        - 用户
      summary: 用户注册
      description: 用户注册，不需要认证
      operationId: userRegister
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegisterRequest'
      responses:
        '200':
          description: 注册成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/login:
    post:
      tags:
        - 用户
      summary: 用户登录
      description: 用户登录，成功后返回 JWT Token
      operationId: userLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      message:
                        example: 登录成功
                      data:
                        $ref: '#/components/schemas/LoginData'
        '400':
          description: 用户名或密码错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 账户已被禁用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/info:
    get:
      tags:
        - 用户
      summary: 获取当前用户信息
      description: 获取当前登录用户信息，需要 JWT 认证
      operationId: userInfo
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserResponse'
        '401':
          description: 未认证或 Token 无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/logout:
    get:
      tags:
        - 用户
      summary: 用户登出
      description: 用户登出（当前为占位接口，客户端需自行清除 Token）
      operationId: userLogout
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/user/update:
    post:
      tags:
        - 用户
      summary: 更新用户信息
      description: 更新当前用户信息，需要 JWT 认证
      operationId: userUpdate
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/bind/school:
    post:
      tags:
        - 用户
      summary: 绑定学校
      description: 为当前用户绑定学校，需要 JWT 认证
      operationId: userBindSchool
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBindSchoolRequest'
      responses:
        '200':
          description: 绑定成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/avatar:
    post:
      tags:
        - 用户
      summary: 上传头像
      description: 上传当前用户头像，存储于 user/{id}/avatar.{jpg|png}，并更新 user 表 avatar 字段
      operationId: userUploadAvatar
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: 图片文件，建议 jpg 或 png
      responses:
        '200':
          description: 上传成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 头像访问 URL，如 /api/v1/oss/user/1/avatar.jpg
        '400':
          description: 参数错误（缺少 file）
        '401':
          description: 未认证

  /api/v1/user/background:
    post:
      tags:
        - 用户
      summary: 上传背景图
      description: 上传当前用户背景图，存储于 user/{id}/background.{jpg|png}，并更新 user 表 background 字段
      operationId: userUploadBackground
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: 图片文件，建议 jpg 或 png
      responses:
        '200':
          description: 上传成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 背景图访问 URL
        '400':
          description: 参数错误
        '401':
          description: 未认证

  /api/v1/oss/{path}:
    get:
      tags:
        - OSS
      summary: 访问/下载文件
      description: 根据路径获取文件，公开接口，无需认证。可用于 img src 等
      operationId: ossGet
      security: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: 相对路径，如 user/1/avatar.jpg、avatar/x.png
      responses:
        '200':
          description: 文件内容
        '404':
          description: 文件不存在
        '400':
          description: 路径非法
    post:
      tags:
        - OSS
      summary: 上传文件（通用）
      description: 上传文件到指定路径，同路径会覆盖。需要 JWT 认证
      operationId: ossUpload
      security:
        - BearerAuth: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: 存储路径，如 avatar/1.jpg；以 / 结尾则使用上传文件原名
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: 上传成功，返回 url 和 path
        '400':
          description: 路径或参数错误
        '401':
          description: 未认证
    delete:
      tags:
        - OSS
      summary: 删除文件（通用）
      description: 删除指定路径的文件，需要 JWT 认证
      operationId: ossDelete
      security:
        - BearerAuth: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 删除成功
        '400':
          description: 路径非法或文件不存在
        '401':
          description: 未认证
