{
  "swagger": "2.0",
  "info": {
    "title": "HFUT Graduation Project API",
    "description": "合肥工业大学毕业设计项目 API 接口文档（已实现接口）",
    "version": "1.0.0"
  },
  "host": "api.xiaoen.xyz",
  "basePath": "/",
  "schemes": ["https"],
  "tags": [
    { "name": "健康检查", "description": "服务健康检查" },
    { "name": "用户", "description": "用户相关接口" },
    { "name": "OSS", "description": "对象存储，文件访问与上传，持久化到宿主机 /var/oss" }
  ],
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "JWT 认证，格式：Bearer {token}"
    }
  },
  "definitions": {
    "Response": {
      "type": "object",
      "properties": {
        "code": { "type": "integer", "description": "状态码，200 表示成功", "example": 200 },
        "message": { "type": "string", "description": "响应消息", "example": "操作成功" },
        "data": { "description": "响应数据（可选）" }
      }
    },
    "UserRegisterRequest": {
      "type": "object",
      "required": ["username", "password", "re_password"],
      "properties": {
        "username": { "type": "string", "description": "用户名", "example": "testuser" },
        "password": { "type": "string", "description": "密码", "example": "password123" },
        "re_password": { "type": "string", "description": "确认密码", "example": "password123" }
      }
    },
    "UserLoginRequest": {
      "type": "object",
      "required": ["username", "password"],
      "properties": {
        "username": { "type": "string", "description": "用户名", "example": "testuser" },
        "password": { "type": "string", "description": "密码", "example": "password123" }
      }
    },
    "UserUpdateRequest": {
      "type": "object",
      "properties": {
        "id": { "type": "integer", "format": "int64", "description": "用户ID" },
        "avatar": { "type": "string", "description": "用户头像 URL" },
        "background": { "type": "string", "description": "用户背景图 URL" },
        "bind_qq": { "type": "string", "description": "绑定的 QQ 号" },
        "bind_wx": { "type": "string", "description": "绑定的微信号" },
        "bind_phone": { "type": "string", "description": "绑定的手机号" },
        "school_id": { "type": "integer", "format": "int64", "description": "学校 ID" }
      }
    },
    "UserBindSchoolRequest": {
      "type": "object",
      "required": ["school_id"],
      "properties": {
        "school_id": { "type": "integer", "format": "int64", "description": "学校 ID", "example": 1 }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "id": { "type": "integer", "format": "int64" },
        "username": { "type": "string" },
        "school_id": { "type": "integer", "format": "int64" },
        "bind_qq": { "type": "string" },
        "bind_wx": { "type": "string" },
        "bind_phone": { "type": "string" },
        "status": { "type": "integer", "description": "1:正常 2:禁用" },
        "role": { "type": "integer", "description": "1:普通用户 2:管理员 3:超级管理员 4:匿名用户" },
        "avatar": { "type": "string" },
        "background": { "type": "string" },
        "follow_count": { "type": "integer" },
        "fans_count": { "type": "integer" },
        "created_at": { "type": "string", "format": "date-time" },
        "updated_at": { "type": "string", "format": "date-time" }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": ["健康检查"],
        "summary": "健康检查",
        "description": "检查服务是否正常运行",
        "operationId": "healthCheck",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "服务正常",
            "schema": { "type": "object", "properties": { "status": { "type": "string", "example": "ok" } } }
          }
        }
      }
    },
    "/api/v1/user/register": {
      "post": {
        "tags": ["用户"],
        "summary": "用户注册",
        "operationId": "userRegister",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{ "in": "body", "name": "body", "required": true, "schema": { "$ref": "#/definitions/UserRegisterRequest" } }],
        "responses": {
          "200": { "description": "注册成功", "schema": { "$ref": "#/definitions/Response" } },
          "400": { "description": "参数错误", "schema": { "$ref": "#/definitions/Response" } }
        }
      }
    },
    "/api/v1/user/login": {
      "post": {
        "tags": ["用户"],
        "summary": "用户登录",
        "description": "用户登录，成功后返回 JWT Token",
        "operationId": "userLogin",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{ "in": "body", "name": "body", "required": true, "schema": { "$ref": "#/definitions/UserLoginRequest" } }],
        "responses": {
          "200": { "description": "登录成功，data 为 JWT Token", "schema": { "$ref": "#/definitions/Response" } },
          "400": { "description": "用户名或密码错误", "schema": { "$ref": "#/definitions/Response" } },
          "401": { "description": "账户已被禁用", "schema": { "$ref": "#/definitions/Response" } }
        }
      }
    },
    "/api/v1/user/info": {
      "get": {
        "tags": ["用户"],
        "summary": "获取当前用户信息",
        "security": [{ "BearerAuth": [] }],
        "produces": ["application/json"],
        "responses": {
          "200": { "description": "获取成功", "schema": { "$ref": "#/definitions/Response" } },
          "401": { "description": "未认证或 Token 无效", "schema": { "$ref": "#/definitions/Response" } }
        }
      }
    },
    "/api/v1/user/logout": {
      "get": {
        "tags": ["用户"],
        "summary": "用户登出",
        "description": "客户端需自行清除 Token",
        "security": [{ "BearerAuth": [] }],
        "responses": { "200": { "description": "成功" } }
      }
    },
    "/api/v1/user/update": {
      "post": {
        "tags": ["用户"],
        "summary": "更新用户信息",
        "security": [{ "BearerAuth": [] }],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{ "in": "body", "name": "body", "required": true, "schema": { "$ref": "#/definitions/UserUpdateRequest" } }],
        "responses": {
          "200": { "description": "更新成功", "schema": { "$ref": "#/definitions/Response" } },
          "400": { "description": "参数错误", "schema": { "$ref": "#/definitions/Response" } },
          "401": { "description": "未认证", "schema": { "$ref": "#/definitions/Response" } }
        }
      }
    },
    "/api/v1/user/bind/school": {
      "post": {
        "tags": ["用户"],
        "summary": "绑定学校",
        "security": [{ "BearerAuth": [] }],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{ "in": "body", "name": "body", "required": true, "schema": { "$ref": "#/definitions/UserBindSchoolRequest" } }],
        "responses": {
          "200": { "description": "绑定成功", "schema": { "$ref": "#/definitions/Response" } },
          "400": { "description": "参数错误", "schema": { "$ref": "#/definitions/Response" } },
          "401": { "description": "未认证", "schema": { "$ref": "#/definitions/Response" } }
        }
      }
    },
    "/api/v1/user/avatar": {
      "post": {
        "tags": ["用户"],
        "summary": "上传头像",
        "description": "存储于 user/{id}/avatar.{jpg|png}，并更新 user.avatar",
        "security": [{ "BearerAuth": [] }],
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [{ "in": "formData", "name": "file", "type": "file", "required": true, "description": "图片文件" }],
        "responses": {
          "200": { "description": "上传成功，data.url 为头像地址", "schema": { "$ref": "#/definitions/Response" } },
          "400": { "description": "参数错误" },
          "401": { "description": "未认证" }
        }
      }
    },
    "/api/v1/user/background": {
      "post": {
        "tags": ["用户"],
        "summary": "上传背景图",
        "description": "存储于 user/{id}/background.{jpg|png}，并更新 user.background",
        "security": [{ "BearerAuth": [] }],
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [{ "in": "formData", "name": "file", "type": "file", "required": true, "description": "图片文件" }],
        "responses": {
          "200": { "description": "上传成功", "schema": { "$ref": "#/definitions/Response" } },
          "400": { "description": "参数错误" },
          "401": { "description": "未认证" }
        }
      }
    },
    "/api/v1/oss/{path}": {
      "get": {
        "tags": ["OSS"],
        "summary": "访问/下载文件",
        "description": "公开接口，如 user/1/avatar.jpg。用于 img src 等",
        "parameters": [{ "in": "path", "name": "path", "required": true, "type": "string", "description": "相对路径" }],
        "responses": {
          "200": { "description": "文件内容" },
          "404": { "description": "文件不存在" },
          "400": { "description": "路径非法" }
        }
      },
      "post": {
        "tags": ["OSS"],
        "summary": "上传文件（通用）",
        "description": "同路径覆盖，需 JWT",
        "security": [{ "BearerAuth": [] }],
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          { "in": "path", "name": "path", "required": true, "type": "string", "description": "存储路径" },
          { "in": "formData", "name": "file", "type": "file", "required": true }
        ],
        "responses": {
          "200": { "description": "上传成功", "schema": { "$ref": "#/definitions/Response" } },
          "400": { "description": "参数错误" },
          "401": { "description": "未认证" }
        }
      },
      "delete": {
        "tags": ["OSS"],
        "summary": "删除文件（通用）",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "in": "path", "name": "path", "required": true, "type": "string" }],
        "responses": {
          "200": { "description": "删除成功" },
          "400": { "description": "路径非法或文件不存在" },
          "401": { "description": "未认证" }
        }
      }
    }
  }
}
