openapi: 3.0.0
info:
  title: HFUT Graduation Project API
  description: 合肥工业大学毕业设计项目 API 接口文档（已实现接口）
  version: 1.0.0

servers:
  - url: https://api.xiaoen.xyz
    description: 生产环境（路径在此基础后拼接，如 /api/v1/user/login）

tags:
  - name: 健康检查
    description: 服务健康检查
  - name: 用户
    description: 用户相关接口
  - name: 帖子
    description: 帖子（type=1），数据+学校隔离，同结构适用于 /question、/answer
  - name: 提问
    description: 提问（type=2），数据+学校隔离，路径 /api/v1/question
  - name: 回答
    description: 回答（type=3），数据+学校隔离，路径 /api/v1/answer
  - name: OSS
    description: 对象存储，文件访问与上传，持久化到宿主机 /var/oss

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT 认证，请求头格式：Authorization: Bearer {token}

  schemas:
    Response:
      type: object
      properties:
        code:
          type: integer
          description: 状态码，200 表示成功
          example: 200
        message:
          type: string
          description: 响应消息
          example: 操作成功
        data:
          type: object
          description: 响应数据（可选）

    UserRegisterRequest:
      type: object
      required:
        - username
        - password
        - re_password
      properties:
        username:
          type: string
          description: 用户名
          example: "testuser"
        password:
          type: string
          description: 密码
          example: "password123"
        re_password:
          type: string
          description: 确认密码（需与 password 一致）
          example: "password123"

    UserLoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: 用户名
          example: "testuser"
        password:
          type: string
          description: 密码
          example: "password123"

    LoginData:
      type: string
      description: JWT Token 字符串

    UserUpdateRequest:
      type: object
      description: 用户信息更新，可只传需要更新的字段
      properties:
        id:
          type: integer
          format: int64
          description: 用户ID（通常由 token 解析，可选）
        avatar:
          type: string
          description: 用户头像 URL
        background:
          type: string
          description: 用户背景图 URL
        bind_qq:
          type: string
          description: 绑定的 QQ 号
        bind_wx:
          type: string
          description: 绑定的微信号
        bind_phone:
          type: string
          description: 绑定的手机号
        school_id:
          type: integer
          format: int64
          description: 学校 ID

    UserBindSchoolRequest:
      type: object
      required:
        - school_id
      properties:
        school_id:
          type: integer
          format: int64
          description: 学校 ID
          example: 1

    UserResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        school_id:
          type: integer
          format: int64
        bind_qq:
          type: string
        bind_wx:
          type: string
        bind_phone:
          type: string
        status:
          type: integer
          description: 1:正常 2:禁用
        role:
          type: integer
          description: 1:普通用户 2:管理员 3:超级管理员 4:匿名用户
        avatar:
          type: string
        background:
          type: string
        follow_count:
          type: integer
        fans_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ArticleCreateRequest:
      type: object
      required:
        - title
        - content
      properties:
        title:
          type: string
          description: 标题
        content:
          type: string
          description: 内容
        publish_status:
          type: integer
          description: 1:私密 2:公开
          default: 1
        parent_id:
          type: integer
          description: 回答必传，指向提问ID
      description: type 由路径决定；回答必须传 parent_id

    ArticleUpdateRequest:
      type: object
      description: 更新，只传需修改字段，type 不可修改
      properties:
        title:
          type: string
        content:
          type: string
        publish_status:
          type: integer
          description: 1:私密 2:公开

    ArticleUpdateImagesRequest:
      type: object
      required:
        - images
      properties:
        images:
          type: array
          items:
            type: string
          description: 图片URL数组，如 ["/api/v1/oss/article/1/image_1.jpg"]

    ArticleResponse:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        school_id:
          type: integer
        parent_id:
          type: integer
          description: 父文章ID，回答指向提问
        title:
          type: string
        content:
          type: string
        status:
          type: integer
          description: 1:正常 2:禁用
        publish_status:
          type: integer
          description: 1:私密 2:公开
        type:
          type: integer
          description: 1:普通 2:提问 3:回答
        view_count:
          type: integer
        like_count:
          type: integer
        collect_count:
          type: integer
        images:
          type: array
          items:
            type: string
        image_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

paths:
  /health:
    get:
      tags:
        - 健康检查
      summary: 健康检查
      description: 检查服务是否正常运行
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: 服务正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  /api/v1/user/register:
    post:
      tags:
        - 用户
      summary: 用户注册
      description: 用户注册，不需要认证
      operationId: userRegister
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegisterRequest'
      responses:
        '200':
          description: 注册成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/login:
    post:
      tags:
        - 用户
      summary: 用户登录
      description: 用户登录，成功后返回 JWT Token
      operationId: userLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      message:
                        example: 登录成功
                      data:
                        $ref: '#/components/schemas/LoginData'
        '400':
          description: 用户名或密码错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 账户已被禁用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/info:
    get:
      tags:
        - 用户
      summary: 获取当前用户信息
      description: 获取当前登录用户信息，需要 JWT 认证
      operationId: userInfo
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserResponse'
        '401':
          description: 未认证或 Token 无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/logout:
    get:
      tags:
        - 用户
      summary: 用户登出
      description: 用户登出（当前为占位接口，客户端需自行清除 Token）
      operationId: userLogout
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/user/update:
    post:
      tags:
        - 用户
      summary: 更新用户信息
      description: 更新当前用户信息，需要 JWT 认证
      operationId: userUpdate
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/bind/school:
    post:
      tags:
        - 用户
      summary: 绑定学校
      description: 为当前用户绑定学校，需要 JWT 认证
      operationId: userBindSchool
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBindSchoolRequest'
      responses:
        '200':
          description: 绑定成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/avatar:
    post:
      tags:
        - 用户
      summary: 上传头像
      description: 上传当前用户头像，存储于 user/{id}/avatar.{jpg|png}，并更新 user 表 avatar 字段
      operationId: userUploadAvatar
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: 图片文件，建议 jpg 或 png
      responses:
        '200':
          description: 上传成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 头像访问 URL，如 /api/v1/oss/user/1/avatar.jpg
        '400':
          description: 参数错误（缺少 file）
        '401':
          description: 未认证

  /api/v1/user/background:
    post:
      tags:
        - 用户
      summary: 上传背景图
      description: 上传当前用户背景图，存储于 user/{id}/background.{jpg|png}，并更新 user 表 background 字段
      operationId: userUploadBackground
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: 图片文件，建议 jpg 或 png
      responses:
        '200':
          description: 上传成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 背景图访问 URL
        '400':
          description: 参数错误
        '401':
          description: 未认证

  /api/v1/post:
    get:
      tags:
        - 帖子
      summary: 帖子列表
      description: 按学校分页列出公开帖子，需 JWT 认证且已绑定学校
      operationId: articleList
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: 页码
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
          description: 每页条数
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/ArticleResponse'
                          total:
                            type: integer
                          page:
                            type: integer
                          page_size:
                            type: integer
        '401':
          description: 未认证
    post:
      tags:
        - 帖子
      summary: 创建帖子
      description: 创建帖子，需 JWT 认证且已绑定学校，学校隔离
      operationId: articleCreate
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCreateRequest'
      responses:
        '200':
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: 帖子ID
        '400':
          description: 参数错误
        '401':
          description: 未认证

  /api/v1/post/search:
    get:
      tags:
        - 帖子
      summary: 帖子搜索
      description: 全文检索（标题、正文），按相关度+点赞量+收藏量排序，需 JWT 认证且已绑定学校
      operationId: articleSearch
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: 搜索关键词
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: 页码
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
          description: 每页条数
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/ArticleResponse'
                          total:
                            type: integer
                          page:
                            type: integer
                          page_size:
                            type: integer
        '401':
          description: 未认证

  /api/v1/question/{id}/answers:
    get:
      tags:
        - 提问
      summary: 列出提问下的回答
      description: 分页列出某提问下的回答，需 JWT 且已绑定学校
      operationId: questionListAnswers
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: 提问ID
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/ArticleResponse'
                          total:
                            type: integer
                          page:
                            type: integer
                          page_size:
                            type: integer
        '401':
          description: 未认证

  /api/v1/post/{id}:
    get:
      tags:
        - 帖子
      summary: 获取帖子详情
      description: 获取帖子详情，需 JWT 认证且已绑定学校，学校隔离
      operationId: articleGet
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: 帖子ID
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ArticleResponse'
        '404':
          description: 帖子不存在或无权限
    put:
      tags:
        - 帖子
      summary: 更新帖子
      description: 更新帖子，需要 JWT 认证且为作者
      operationId: articleUpdate
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: 帖子ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUpdateRequest'
      responses:
        '200':
          description: 更新成功
        '404':
          description: 帖子不存在或无权限
        '401':
          description: 未认证
    delete:
      tags:
        - 帖子
      summary: 删除帖子（惰性）
      description: 软删除帖子（将 status 设为禁用），需要 JWT 认证且为作者
      operationId: articleDelete
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: 帖子ID
      responses:
        '200':
          description: 删除成功
        '404':
          description: 帖子不存在或无权限
        '401':
          description: 未认证

  /api/v1/post/{id}/images:
    post:
      tags:
        - 帖子
      summary: 批量上传帖子图片
      description: 批量上传图片，按顺序存储为 article/{id}/image_1.{ext}、image_2.{ext}...，form 字段 files
      operationId: articleUploadImages
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: 帖子ID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: 多张图片文件
      responses:
        '200':
          description: 上传成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          urls:
                            type: array
                            items:
                              type: string
                            description: 图片 URL 列表
        '404':
          description: 帖子不存在或无权限
        '401':
          description: 未认证
    put:
      tags:
        - 帖子
      summary: 更新帖子图片列表
      description: 替换帖子的图片 URL 数组，需要 JWT 认证且为作者
      operationId: articleUpdateImages
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: 帖子ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUpdateImagesRequest'
      responses:
        '200':
          description: 更新成功
        '404':
          description: 帖子不存在或无权限
        '401':
          description: 未认证

  /api/v1/oss/{path}:
    get:
      tags:
        - OSS
      summary: 访问/下载文件
      description: 根据路径获取文件，公开接口，无需认证。可用于 img src 等
      operationId: ossGet
      security: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: 相对路径，如 user/1/avatar.jpg、avatar/x.png
      responses:
        '200':
          description: 文件内容
        '404':
          description: 文件不存在
        '400':
          description: 路径非法
    post:
      tags:
        - OSS
      summary: 上传文件（通用）
      description: 上传文件到指定路径，同路径会覆盖。需要 JWT 认证
      operationId: ossUpload
      security:
        - BearerAuth: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: 存储路径，如 avatar/1.jpg；以 / 结尾则使用上传文件原名
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: 上传成功，返回 url 和 path
        '400':
          description: 路径或参数错误
        '401':
          description: 未认证
    delete:
      tags:
        - OSS
      summary: 删除文件（通用）
      description: 删除指定路径的文件，需要 JWT 认证
      operationId: ossDelete
      security:
        - BearerAuth: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 删除成功
        '400':
          description: 路径非法或文件不存在
        '401':
          description: 未认证
