openapi: 3.0.0
info:
  title: HFUT Graduation Project API
  description: 合肥工业大学毕业设计项目 API 接口文档（已实现接口）
  version: 1.0.0

servers:
  - url: https://api.xiaoen.xyz
    description: 生产环境（路径在此基础后拼接，如 /api/v1/user/login）

tags:
  - name: 健康检查
    description: 服务健康检查
  - name: 用户
    description: 用户相关接口

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT 认证，请求头格式：Authorization: Bearer {token}

  schemas:
    Response:
      type: object
      properties:
        code:
          type: integer
          description: 状态码，200 表示成功
          example: 200
        message:
          type: string
          description: 响应消息
          example: 操作成功
        data:
          type: object
          description: 响应数据（可选）

    UserRegisterRequest:
      type: object
      required:
        - username
        - password
        - re_password
      properties:
        username:
          type: string
          description: 用户名
          example: "testuser"
        password:
          type: string
          description: 密码
          example: "password123"
        re_password:
          type: string
          description: 确认密码（需与 password 一致）
          example: "password123"

    UserLoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: 用户名
          example: "testuser"
        password:
          type: string
          description: 密码
          example: "password123"

    LoginData:
      type: string
      description: JWT Token 字符串

    UserUpdateRequest:
      type: object
      description: 用户信息更新，可只传需要更新的字段
      properties:
        id:
          type: integer
          format: int64
          description: 用户ID（通常由 token 解析，可选）
        avatar:
          type: string
          description: 用户头像 URL
        background:
          type: string
          description: 用户背景图 URL
        bind_qq:
          type: string
          description: 绑定的 QQ 号
        bind_wx:
          type: string
          description: 绑定的微信号
        bind_phone:
          type: string
          description: 绑定的手机号
        school_id:
          type: integer
          format: int64
          description: 学校 ID

    UserBindSchoolRequest:
      type: object
      required:
        - school_id
      properties:
        school_id:
          type: integer
          format: int64
          description: 学校 ID
          example: 1

    UserResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        school_id:
          type: integer
          format: int64
        bind_qq:
          type: string
        bind_wx:
          type: string
        bind_phone:
          type: string
        status:
          type: integer
          description: 1:正常 2:禁用
        role:
          type: integer
          description: 1:普通用户 2:管理员 3:超级管理员 4:匿名用户
        avatar:
          type: string
        background:
          type: string
        follow_count:
          type: integer
        fans_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

paths:
  /health:
    get:
      tags:
        - 健康检查
      summary: 健康检查
      description: 检查服务是否正常运行
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: 服务正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  /api/v1/user/register:
    post:
      tags:
        - 用户
      summary: 用户注册
      description: 用户注册，不需要认证
      operationId: userRegister
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegisterRequest'
      responses:
        '200':
          description: 注册成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/login:
    post:
      tags:
        - 用户
      summary: 用户登录
      description: 用户登录，成功后返回 JWT Token
      operationId: userLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      message:
                        example: 登录成功
                      data:
                        $ref: '#/components/schemas/LoginData'
        '400':
          description: 用户名或密码错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 账户已被禁用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/info:
    get:
      tags:
        - 用户
      summary: 获取当前用户信息
      description: 获取当前登录用户信息，需要 JWT 认证
      operationId: userInfo
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserResponse'
        '401':
          description: 未认证或 Token 无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/logout:
    get:
      tags:
        - 用户
      summary: 用户登出
      description: 用户登出（当前为占位接口，客户端需自行清除 Token）
      operationId: userLogout
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/user/update:
    post:
      tags:
        - 用户
      summary: 更新用户信息
      description: 更新当前用户信息，需要 JWT 认证
      operationId: userUpdate
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/v1/user/bind/school:
    post:
      tags:
        - 用户
      summary: 绑定学校
      description: 为当前用户绑定学校，需要 JWT 认证
      operationId: userBindSchool
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBindSchoolRequest'
      responses:
        '200':
          description: 绑定成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
